.content {
    display:inline-block;
    position: relative;
    width:800px;
    height: 400px;
    left: 25%;
    background-image: linear-gradient(to left, rgba(47, 48, 49, 0.72), rgba(54, 51, 54, 0.52)), url('teknofestImage.jpg');
    background-size: cover;
    color: #f4f9fb;
    margin-top: 12px;
    margin-bottom: 20px;
    padding:30px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    transition: 750ms ease;
}

.activeButton {
    font-size: 30px;
}

body {
    margin:0;
    padding:0;
    text-align: center;
    align-items: center;
    background:#bababa;
}

.divPattern {
    padding: 12px;
    height: auto;
    background:#f4f9fb;
}

.divPattern header {
    margin-bottom: 0px;
    padding: 20px;
    height:auto;
    width: auto;
    text-align: center;
    background: #bababa ;
    background-image: linear-gradient(#bababa,#bababa);
}

.divPattern header h1 {
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#icon {
    width: 120px;
} 

header .icon {
    background: #f4f9fb;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.placeholder {
    padding: 10px;
    display: flex;
    background-color:#bababa;
    width: auto;
    height: auto;
}

.placeholder nav {
    margin-right: 18px;
    padding: 12px;
    height: auto;
    background: #fff;;
}

.links a {
    text-decoration: none;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:block;
    background: #bababa;
    width: 138px;
    padding: 10px;
    margin-top: 12px;
}

.links a:hover {
    background-color: red;
}


.dropbtn {
    border: none;
    padding: 0;
    background-color: transparent;
    display: inline;
}

.dropbtn a {
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main h1,h2 {
    margin-top: 27px;
    text-align: center;
}

.placeholder .main {
    text-align: left;
    overflow: hidden;
    background: #666666;
    font-family: sans-serif;
    height: auto;
    width: 1800px;
    color: #d8d8d8;
}

.links .subhead {
    margin-top: 6px;
}

.main p {
    margin: 12px 24px 30px 24px;
    font-size:medium;
    font-weight: bold;
}

.main ul {
    list-style: none;
}

.main ul li {
    cursor: pointer;
}



.content:hover {
    transform: scale(1.05);
    box-shadow: 2px 3px #f4f9fb73 ;
}

footer {
    margin: 4px;
    padding: 4px;
    margin-top: 96px;
}

footer img {
    width: 360px;
    position: relative;
}

footer p {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: small;
    font-family: sans-serif;
}

footer a {
    text-decoration: underline;
    color: #68201d;
}

@media (max-width: 768px) {

    header .icon {
        width: 90px;
        height: 90px;
    }
    
    #icon {
        width: 90px;
    }

    header h1 {
        font-size: medium;
    }


    h2 {
        font-size: 15px;
    }

    .main {
        margin-left: 5px;  
        margin-right: 5px;
    }

    .main h1 {
        margin-top: 0;
    }

    .main p {
        font-weight:400;
    }

    .placeholder nav {
        border-radius: 10px;
        margin-right: 0px;
        padding: 6px;
        height: auto;
        background: #fff; 
    }

    .content ul li {
        list-style-type: disc;
        font-size: 8px;
        font-weight: 200;
        
    }

    footer img {
        width: 270px;
    }
    
    .container {
        padding: 4px;
    }

    .content {    
        width: 50px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .content p {
        font-size: 6px;
    }

    .content ul {
        display: inline-block;
        
        text-align: center;
        padding-right: 50%;
        width: auto;
    }
    .content ul li {
        list-style-type: disc;
        font-size: 6px;
        font-weight: 100; 
    }

    h1 {
        font-size: 24px;
    }

    .links a {
        font-size: 10px;
        width: auto;
        padding: 6px;
        margin-top: 10px;
    }
}

@media (max-width:991px) { 
    .content{
        left: 15%;
        width: 320px;
    }
}

@media (max-width:414px) {
    .content{
        width: 120px;
    }
}